@use "/src/style/breakpoints.scss" as bp;

.chapter {
	display: flex;
	align-items: flex-start;
	gap: var(--unit-3);

	@include bp.desktop {
		gap: var(--unit-6);
	}
}

.body {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--unit-2);
	min-width: 0;
}

.eyebrow {
	font: var(--font-body-regular-14-16);
	text-transform: uppercase;
}

.text {
	display: flex;
	flex-direction: column;
	gap: var(--unit-1);
}

.description {
	font: var(--font-body-regular-14-16);
	white-space: pre-line;
}
