@use "/src/style/breakpoints.scss" as bp;
@use "/src/style/surface.scss" as surface;

.card {
	@include surface.card;

	display: flex;
	flex-direction: column;
	gap: var(--unit-12);
	border: var(--border-width-1) solid var(--color-border-muted);
	padding: var(--unit-12);

	@include bp.desktop {
		padding: var(--unit-24);
	}
}

.header {
	display: flex;
	flex-direction: column;
	gap: var(--unit-4);
}

.count {
	font: var(--font-body-regular-14-16);
}

.empty {
	font: var(--font-body-regular-14-16);
}

.list {
	display: flex;
	flex-direction: column;
	gap: var(--unit-24);
}
