@use "/src/style/focus.scss" as focus;
@use "../form.scss";

.option {
	display: flex;
	align-items: center;
	gap: var(--unit-12);
	cursor: pointer;
	font: var(--font-body-regular-12-14);
	&:has([data-disabled]) {
		@include form.choice-label-disabled;
	}
}

.checkbox {
	display: inline-flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	outline: none;
	border: var(--border-width-1) solid var(--color-border);
	border-radius: var(--radius-4);
	background: var(--color-white);
	width: var(--unit-32);
	height: var(--unit-32);

	@media not (prefers-reduced-motion) {
		transition:
			border-color 0.2s ease,
			background-color 0.2s ease;
	}

	&[data-checked] {
		border-color: var(--color-action);
		background: var(--color-action);
		color: var(--color-text-on-fill);
	}

	&:focus-visible {
		@include focus.ring;
	}

	&[data-disabled] {
		@include form.choice-disabled;
	}

	&[data-checked][data-disabled] {
		border-color: var(--color-action-disabled);
		background: var(--color-action-disabled);
		color: var(--color-text-disabled-on-fill);
	}
}

.indicator {
	display: inline-flex;
	align-items: center;
}

.group {
	display: flex;
	flex-direction: column;
	gap: var(--unit-12);
}

.legend {
	font: var(--font-body-semibold-12-14);
}
