@use "../form.scss";

.option {
	display: flex;
	align-items: center;
	gap: var(--unit-3);
	cursor: pointer;
	color: var(--color-text-default);
	font: var(--font-body-regular-14);
}

.checkbox {
	display: inline-flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	outline: none;
	border: var(--border-width-1) solid var(--color-border);
	border-radius: var(--radius-8);
	background: var(--color-white);
	width: var(--unit-8);
	height: var(--unit-8);

	@media not (prefers-reduced-motion) {
		transition:
			border-color 0.2s ease,
			background-color 0.2s ease;
	}

	&[data-checked] {
		border-color: var(--color-action);
		background: var(--color-action);
	}

	&:focus-visible {
		outline: 3px solid var(--color-action);
		outline-offset: 2px;
	}

	&[data-disabled] {
		@include form.disabled;
	}
}

.indicator {
	display: inline-flex;
	align-items: center;
	color: var(--color-text-on-fill);
}

.group {
	display: flex;
	flex-direction: column;
	gap: var(--unit-3);
}

.legend {
	color: var(--color-text-default);
	font: var(--font-body-semibold-14);
}
