@use "../form.scss";

.control {
	@include form.control-box;

	display: inline-flex;
	position: relative;
	flex: 1;
	align-items: center;
	min-height: var(--unit-40);
	min-width: 0;
	width: 100%;

	&:has(select[aria-invalid="true"]) {
		@include form.invalid;
	}

	&:has(select:disabled) {
		@include form.disabled;
	}
}

.select {
	flex: 1;
	appearance: none;
	cursor: pointer;
	outline: none;
	border: none;
	background: none;
	padding: 0 var(--unit-12);
	padding-right: calc(var(--unit-12) + var(--unit-16) + var(--unit-8));
	min-width: 0;
	color: inherit;
	font: var(--font-body-regular-12-14);
}

.chevron {
	display: inline-flex;
	position: absolute;
	right: var(--unit-12);
	pointer-events: none;
	color: inherit;
}
