@use "/src/style/breakpoints.scss" as bp;

.layout {
	--page-inset: var(--unit-8);
	--content-max: 1280px;
	--gutter: max(var(--page-inset), (100cqi - var(--content-max)) / 2);
	display: grid;
	grid-template-rows: min-content 1fr;
	grid-template-columns:
		var(--gutter)
		[main-start]
		repeat(4, 1fr)
		[main-end]
		var(--gutter);
	gap: var(--unit-16);
	width: 100cqi;
	min-height: 100cqb;

	@include bp.desktop {
		--page-inset: var(--unit-24);
		grid-template-columns:
			var(--gutter)
			[main-start]
			repeat(12, 1fr)
			[main-end]
			var(--gutter);
	}

	& > * {
		display: grid;
		grid-template-columns: subgrid;
		grid-column: 1 / -1;
	}
}

.gridMain {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: main;
}
