@use "/src/style/breakpoints.scss" as bp;
@use "/src/style/grid.scss" as grid;

.page {
	@include grid.columns;

	row-gap: var(--unit-24);
	padding-block: var(--unit-24);

	@include bp.desktop {
		row-gap: var(--unit-32);
	}
}

.back {
	grid-column: main;
	justify-self: start;
}

.content {
	grid-column: main;

	display: flex;
	flex-direction: column;
	gap: var(--unit-24);

	@include bp.desktop {
		grid-column: 2 / 12;
	}
}
