.root {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: var(--unit-1);
	width: 100%;
}

.label {
	font: var(--font-body-semibold-12-14);

	&[data-invalid] {
		color: var(--color-text-error);
	}
}

.optional {
	color: var(--color-text-muted);
	font: var(--font-body-regular-12-14);
}

.hint {
	color: var(--color-text-muted);
	font: var(--font-body-regular-12-14);
}

.error {
	display: flex;
	align-items: center;
	gap: var(--unit-1);
	color: var(--color-text-error);
	font: var(--font-body-regular-12-14);

	> svg {
		flex-shrink: 0;
	}
}
