@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	// Used in `font` shorthand property.
	// grammar: <weight> <font-size> / <line-height> <font-family>;
	--font-body-regular-xs: 400 0.75rem / 140% "Inter"; // Body/Regular/ExtraSmall
	--font-body-regular-s: 400 0.875rem / 140% "Inter"; // Body/Regular/Small
	--font-body-regular-base: 400 1rem / 140% "Inter"; // Body/Regular/Base
	--font-body-regular-l: 400 1.125rem / 140% "Inter"; // Body/Regular/Large
	--font-body-regular-xl: 400 1.25rem / 140% "Inter"; // Body/Regular/ExtraLarge

	--font-body-semibold-xs: 600 0.75rem / 140% "Inter"; // Body/Semibold/ExtraSmall
	--font-body-semibold-s: 600 0.875rem / 140% "Inter"; // Body/Semibold/Small
	--font-body-semibold-base: 600 1rem / 140% "Inter"; // Body/Semibold/Base
	--font-body-semibold-l: 600 1.125rem / 140% "Inter"; // Body/Semibold/Large
	--font-body-semibold-xl: 600 1.25rem / 140% "Inter"; // Body/Semibold/ExtraLarge

	--font-body-bold-xs: 700 0.75rem / 140% "Inter"; // Body/Bold/ExtraSmall
	--font-body-bold-s: 700 0.875rem / 140% "Inter"; // Body/Bold/Small
	--font-body-bold-base: 700 1rem / 140% "Inter"; // Body/Bold/Base
	--font-body-bold-l: 700 1.125rem / 140% "Inter"; // Body/Bold/Large
	--font-body-bold-xl: 700 1.25rem / 140% "Inter"; // Body/Bold/ExtraLarge

	--font-heading-small: 600 1rem / 120% "Inter"; // 16
	--font-heading-medium: 600 1.125rem / 120% "Inter"; // 18
	--font-heading-large: 600 1.5rem / 120% "Inter"; // 24
}
