:root {
	--radius-s: 0.5rem; // 8px, Button
	--radius-m: 0.625rem; // 10px, corner radius/10 — inputs, Modal
	--radius-l: 0.875rem; // 14px, System messages
	--radius-full: 9999px; // corner radius/9999 — pill
}
