:root {
	--unit-0: 0rem;
	--unit-1: 0.25rem;
	--unit-2: 0.5rem;
	--unit-3: 0.75rem;
	--unit-4: 1rem;
	--unit-5: 1.25rem;
	--unit-6: 1.5rem;
	--unit-7: 1.75rem;
	--unit-8: 2rem;
	--unit-9: 2.25rem;
	--unit-10: 2.5rem;
	--unit-12: 3rem;
	--unit-14: 3.5rem;
	--unit-16: 4rem;
	--unit-18: 4.5rem;
	--unit-20: 5rem;
	--unit-24: 5.5rem;
	--unit-28: 6rem;
	--unit-32: 6.5rem;
	--unit-36: 7rem;

	--unit-circular: 50%;
	--unit-full: 9999rem;
}
