.size-16-18 {
	font: var(--font-heading-semibold-16-18);
}

.size-18-20 {
	font: var(--font-heading-semibold-18-20);
}

.size-20-24 {
	font: var(--font-heading-bold-20-24);
}

.size-24-32 {
	font: var(--font-heading-bold-24-32);
}
