.size-14-16 {
	font: var(--font-heading-size-14-16);
}
.size-16-18 {
	font: var(--font-heading-size-16-18);
}
.size-20-24 {
	font: var(--font-heading-size-20-24);
}
.size-24-32 {
	font: var(--font-heading-size-24-32);
}
.size-32-40 {
	font: var(--font-heading-size-32-40);
}
.size-40-56 {
	font: var(--font-heading-size-40-56);
}
