.layout {
	--gutter: calc((100cqi - 500px) / 2);
	display: grid;
	grid-template-columns:
		var(--gutter)
		[main-start]
		1fr
		[logo-start]
		1fr
		[logo-end]
		1fr
		[main-end]
		var(--gutter);
	row-gap: var(--unit-8);
	place-content: center;
	width: 100cqi;
	min-height: 100cqb;
}

.logo {
	display: flex;
	grid-column: logo;
	justify-content: center;
}

.page {
	display: flex;
	grid-column: main;
	flex-direction: column;
	gap: inherit;
}
