@use "/src/style/breakpoints.scss" as bp;
@use "/src/style/grid.scss" as grid;

.page {
	@include grid.columns;

	row-gap: var(--unit-24);
	padding-block: var(--unit-24);

	@include bp.desktop {
		row-gap: var(--unit-32);
	}
}

.back {
	grid-column: main;
	justify-self: start;
}

.content {
	@include grid.columns;

	row-gap: var(--unit-32);

	@include bp.desktop {
		row-gap: var(--unit-48);
	}
}

.intro {
	grid-column: main;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--unit-4);

	@include bp.desktop {
		grid-column: main-start / span 4;
	}
}

.description {
	font: var(--font-body-regular-14-16);
	white-space: pre-line;
}

.sections {
	grid-column: main;

	display: flex;
	flex-direction: column;
	gap: var(--unit-32);
}

.attribution {
	color: var(--color-text-accent);
	font: var(--font-body-regular-12-14);
}
